.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(240, 5%, 30%);
    color: white;
    margin-bottom: 1rem;
    height: clamp(50px, 5vw, 100px);
    position: sticky;
    top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    min-width: 950px;

    .h1__header {
        font-size: 2rem;
        font-weight: 800;
    }

    .button__logout {
        border: none;
        background-color: rgb(255, 41, 41);
        font-weight: 700;
        padding: .5rem 1rem;
        border-radius: .3rem;
        color: white;
        cursor: pointer;

        &:hover,
        &:focus {
            background-color: rgb(255, 27, 27);
        }
    }
}