.section--employeeList {
    $padding: 1rem 0rem 1rem 1rem;
    $text-align: start;
    $table-border: 1px solid rgb(179, 179, 179);
    $font-size-tableHeader: 1.25rem;
    min-width: 950px;

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .h1--employeeList {
        text-align: center;
        font-size: 2rem;
        padding-bottom: 1rem;
    }

    .table--employee {
        width: 100%;
        border: $table-border;
        border-spacing: 0;

        .thead--employee {
            height: 100%;

            .tr--employeeHeadings {

                .th--employee {
                    padding: $padding;
                    text-align: $text-align;
                    font-size: $font-size-tableHeader;
                    border-left: $table-border;
                    border-bottom: $table-border;
                }

            }
        }

        .tbody--employees {

            .tr--employee {

                .td--employeeInfo {
                    padding: $padding;
                    text-align: $text-align;
                    font-size: $font-size-tableHeader;
                    border-left: $table-border;
                }

                .td--actions {
                    padding-right: 1rem;
                    display: flex;
                    justify-content: space-between;

                    .button--employees {
                        border: none;
                        cursor: pointer;
                        border-radius: .2rem;
                        padding: .5rem 1rem;

                        &.edit {
                            color: white;
                            background-color: rgb(17, 212, 17);

                            &:hover,
                            &:active {
                                background-color: rgb(61, 195, 61);
                            }
                        }

                        &.remove {
                            color: white;
                            background-color: red;

                            &:hover,
                            &:active {
                                background-color: rgb(197, 50, 50);
                            }
                        }
                    }
                }
            }
        }
    }

}